# Виртуальное окружение
venv/

# Кэш Python
__pycache__/
*.pyc

# Логи и временные файлы
app.log
cache.json
static/chart.png
static/evaluations_log.txt
static/recommendations.txt
static/results.xlsx

# Конфиденциальные файлы
.env

# Системные файлы
.DS_Store
